@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,700;1,100&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: beige;
  margin: 50px 0 0 0;
  background-size: cover;
}

#poke-sec {
  display: flex;
  justify-content: center;
  width: 18rem;
  height: 100%;
  margin: 0 auto;
  border: 3px solid  pink;
}

#img-digi:hover{
  transition: 0.6s;
  opacity: 0.8;
}

card-body {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.card-title, .card-text {
  text-align: center;
}

.card-title {
  font-size: 25px;
  top: -10;

}

.card-body:hover {
  transition: 0.6s;
  
}

.card {
  background-color: white;
}



#input {
  margin: 0 auto;
  width: 165px;
  border-radius: 4px;
  border-color: pink;  
  padding: 5px 10px;
}

#container-input {
  margin-top:20px;
  display: flex;
  justify-content: center;
}

.card-img-top{
 border-color: pink;
 width:100%;
}